page-vehicle-history-details {
  ion-header {
    height: $header-height-default;
  }

  ion-list-header {
    .label-ios {
      margin: 11px 8px 7px 0;
      color: $color-grey-1;
    }
  }

  ion-content {
    .scroll-content {
      background: $color-grey-3;
    }
  }

  [text-end] {
    color: $color-grey-1;
  }

  .defect {
    color: $color-grey-1;
  }

  .defect ion-row {
    margin: 2px 0;
  }

  .additional-info span:first-child .forward-slash {
    display: none;
  }

  .test-type {
    min-height: 70px;
    align-items: flex-start;
  }

  .defect-ref {
    color: color($colors, dark);
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    margin-right: 8px;
  }

  .list-margin {
    margin: 10px 0 0 0;

    ion-list-header {
      height: 50px;
      align-items: flex-end;
    }
  }
}