<ion-header>
  <ion-navbar>
    <ion-title margin-left>
      <span>Test history details</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-list class="list-margin">
    <ion-list-header text-uppercase padding-left>TEST TYPE</ion-list-header>
    <ion-item ion-item detail-none padding-left class="test-type">
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-12 text-start text-wrap>
            <span text-capitalize text-left>
              {{ selectedTestType.testTypeName || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list class="list-margin">
    <ion-list-header text-uppercase padding-left>TEST DETAILS</ion-list-header>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Test date</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span text-capitalize>
              {{ (selectedTestType.testTypeStartTimestamp | date:'dd MMM yyyy') || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Test time</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span text-capitalize>
              {{ (selectedTestType.testTypeStartTimestamp | date:'HH:mm') || defaultValues.NONE }} -
              {{ (selectedTestType.testTypeEndTimestamp | date:'HH:mm') || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start><span text-left>Test result</span></ion-col>
          <ion-col col-9 text-end>
            <span text-uppercase ion-text class="test-result" [color]="testResultColor">
              {{ selectedTestType.testResult || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item ion-item detail-none padding-left *ngIf="selectedTestType.prohibitionIssued">
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Prohibition issued</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span text-capitalize>
              Yes
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item ion-item detail-none padding-left *ngIf="selectedTestType.testExpiryDate">
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Test expiry</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span text-capitalize>
              {{ (selectedTestType.testExpiryDate | date:'dd MMM yyyy') || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item ion-item
              detail-none
              padding-left
              *ngIf="!doesNotHaveCert && !isTestResultAbandon && !isTestResultFail; else showTestNumber">
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Certificate number</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span text-capitalize>
              {{ selectedTestType.certificateNumber || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ng-template #showTestNumber>
      <ion-item ion-item detail-none padding-left>
        <ion-grid no-padding>
          <ion-row justify-content-between>
            <ion-col col-3 text-start>
              <span text-left>Test number</span>
            </ion-col>
            <ion-col col-9 text-end>
              <span text-capitalize>
                {{ selectedTestType.testNumber || defaultValues.NONE }}
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-list class="list-margin" *ngIf="isTestResultAbandon">
    <ion-list-header text-uppercase padding-left>REASON(S) FOR ABANDONING</ion-list-header>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-12 text-start text-wrap>
            <span>
              {{ selectedTestType.reasonForAbandoning || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list class="list-margin" *ngIf="isTestResultAbandon">
    <ion-list-header text-uppercase padding-left>Notes</ion-list-header>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-12 text-start text-wrap>
            <span *ngIf="selectedTestType.additionalCommentsForAbandon; else noAbandonedComments">
              {{ selectedTestType.additionalCommentsForAbandon || defaultValues.NONE }}
            </span>
            <ng-template #noAbandonedComments>
              <span>
                {{ defaultValues.NOT_ENTERED }}
              </span>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list class="list-margin" *ngIf="!doesNotHaveDefects">
    <ion-list-header text-uppercase padding-left>DEFECTS</ion-list-header>
    <ng-container *ngIf="doDefectsExist; else noDefects">
      <ion-item ion-item detail-none padding-left class="defect" *ngFor="let defect of selectedTestType.defects">
        <ion-grid no-padding>
          <ion-row justify-content-between>
            <ion-col col-12 text-start text-wrap>
              <span class="defect-ref">
                <span>{{ defect.imNumber }}.{{ defect.itemNumber }}</span>
                <span *ngIf="defect.deficiencyId">({{ defect.deficiencyId }})</span>
                <span *ngIf="defect.deficiencySubId">({{ defect.deficiencySubId }})</span>
              </span>
              <ion-badge *ngIf="defect.deficiencyCategory"
                         text-uppercase
                         [color]="getDeficiencyColor(defect.deficiencyCategory)">
                {{ defect.deficiencyCategory }}
              </ion-badge>
              <ion-badge *ngIf="defect.prs" color="tertiary">PRS</ion-badge>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 text-start text-wrap>
              {{ defect.imNumber }}. {{ defect.imDescription }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 text-start text-wrap>
              {{ defect.itemNumber }}. {{ defect.itemDescription }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 text-start text-wrap>
              <span *ngIf="defect.deficiencyId">({{ defect.deficiencyId }})</span>
              <span *ngIf="defect.deficiencySubId">({{ defect.deficiencySubId }})</span>
              {{ defect.deficiencyText }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="defect.additionalInformation.location">
            <ion-col col-12 text-start text-wrap class="additional-info">
              <span *ngIf="defect.additionalInformation.location.vertical" text-capitalize>
                <span class="forward-slash">/</span>
                {{ defect.additionalInformation.location.vertical }}
              </span>
              <span *ngIf="defect.additionalInformation.location.horizontal" text-capitalize>
                <span class="forward-slash">/</span>
                {{ defect.additionalInformation.location.horizontal }}
              </span>
              <span *ngIf="defect.additionalInformation.location.lateral" text-capitalize>
                <span class="forward-slash">/</span>
                {{ defect.additionalInformation.location.lateral }}
              </span>
              <span *ngIf="defect.additionalInformation.location.longitudinal" text-capitalize>
                <span class="forward-slash">/</span>
                {{ defect.additionalInformation.location.longitudinal }}
              </span>
              <span *ngIf="defect.additionalInformation.location.rowNumber" text-capitalize>
                <span class="forward-slash">/</span>
                {{ 'Row ' + defect.additionalInformation.location.rowNumber }}
              </span>
              <span *ngIf="defect.additionalInformation.location.seatNumber" text-capitalize>
                <span class="forward-slash">/</span>
                {{ 'Seat ' + defect.additionalInformation.location.seatNumber }}
              </span>
              <span *ngIf="defect.additionalInformation.location.axleNumber" text-capitalize>
                <span class="forward-slash">/</span>
                {{ 'Axle ' + defect.additionalInformation.location.axleNumber }}
              </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 text-start text-wrap>
              {{ defect.additionalInformation.notes || defaultValues.NONE }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="defect.prohibitionIssued">
            <ion-col col-12 text-start text-wrap>
              Prohibition issued - Yes
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>
    <ng-template #noDefects>
      <ion-item ion-item detail-none padding-left>
        <ion-grid no-padding>
          <ion-row justify-content-between>
            <ion-col col-12 text-start text-wrap>
              <span>
                {{ defaultValues.NOT_ENTERED }}
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-list class="list-margin">
    <ion-list-header text-uppercase padding-left>ODOMETER READING</ion-list-header>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left *ngIf="selectedTestResult.odometerReading; else noOdometerReading">
              {{ (selectedTestResult.odometerReading | number) || defaultValues.NONE }} {{ distanceType }}
            </span>
            <ng-template #noOdometerReading>
              <span text-left>
                  {{ defaultValues.NOT_ENTERED }}
              </span>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list class="list-margin" *ngIf="!doesNotHaveBelts">
    <ion-list-header text-uppercase padding-left>SEATBELT INSTALLATION CHECK</ion-list-header>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Carried out during inspection</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span>
              {{ (selectedTestType.seatbeltInstallationCheckDate | formatBoolean) || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Number of seatbelts</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span>
              {{ selectedTestType.numberOfSeatbeltsFitted || defaultValues.NOT_ENTERED }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Previous seatbelt installation check</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span>
              {{ (selectedTestType.lastSeatbeltInstallationCheckDate | date:'dd MMM yyyy') || defaultValues.NOT_ENTERED }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list class="list-margin">
    <ion-list-header text-uppercase padding-left>TEST STATION</ion-list-header>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Name</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span text-capitalize>
              {{ selectedTestResult.testStationName || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>P-number</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span text-capitalize>{{ selectedTestResult.testStationPNumber || defaultValues.NONE }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list class="list-margin">
    <ion-list-header text-uppercase padding-left>TESTER</ion-list-header>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Name</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span text-capitalize>
              {{ selectedTestResult.testerName || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start>
            <span text-left>Staff ID</span>
          </ion-col>
          <ion-col col-9 text-end>
            <span text-capitalize>
              {{ selectedTestResult.testerStaffId || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list class="list-margin">
    <ion-list-header text-uppercase padding-left>NOTES</ion-list-header>
    <ion-item ion-item detail-none padding-left>
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-12 text-start text-wrap>
            <span text-left text-capitalize>
              {{ selectedTestType.additionalNotesRecorded || defaultValues.NONE }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
