<ion-header>
    <ion-navbar>
        <ion-title margin-left>
            <span>Additional details</span>
        </ion-title>
    </ion-navbar>

    <ion-toolbar  color="tertiary" *ngIf="vehicleData.techRecord.statusCode===TECH_RECORD_STATUS.PROVISIONAL" >
        <ion-title padding-left>{{ APP_STRINGS.PROVISIONAL_LABEL_TEXT }}</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content no-padding>
    <div text-uppercase
         text-center
         class="vehicle-header-vrm-number">
        <ng-container *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL); else isVehicle">{{ vehicleData.trailerId }}</ng-container>
        <ng-template #isVehicle>{{ vehicleData.vrm | formatVrm }}</ng-template>
    </div>

    <ion-list class="vehicle-list" *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,SPECIAL_VEHICLE_TYPES)">
        <ion-list-header>
        </ion-list-header>
        <ion-item margin-left *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
            <ion-label>
                <h3>COIF date</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.coifDate | date: dateFormat }}</p>
            </div>
        </ion-item>
        <ion-item margin-left>
            <ion-label>
                <h3>NTA number</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.ntaNumber }}</p>
            </div>
        </ion-item>
        <ion-item margin-left>
            <ion-label>
                <h3>Conversion number</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.conversionRefNo }}</p>
            </div>
        </ion-item>
        <ion-item margin-left *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
            <ion-label>
                <h3>Seats on lower deck</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.seatsLowerDeck }}</p>
            </div>
        </ion-item>
        <ion-item margin-left *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
            <ion-label>
                <h3>Seats on upper deck</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.seatsUpperDeck }}</p>
            </div>
        </ion-item>
        <ion-item margin-left *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
            <ion-label>
                <h3>Standing capacity</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.standingCapacity }}</p>
            </div>
        </ion-item>
        <ion-item margin-left *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
            <ion-label>
                <h3>Speed restriction</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.speedRestriction }}</p>
            </div>
        </ion-item>
        <ion-item margin-left *ngIf="!commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL)">
            <ion-label>
                <h3>Speed limiter</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.speedLimiterMrk ? appStrings.YES : appStrings.NO }}</p>
            </div>
        </ion-item>
        <ion-item margin-left *ngIf="!commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL)">
            <ion-label>
                <h3>Tacho exempt</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.tachoExemptMrk ? appStrings.YES : appStrings.NO }}</p>
            </div>
        </ion-item>

        <ion-item margin-left *ngIf="!commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
            <ion-label>
                <h3>Road friendly</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.roadFriendly ? appStrings.YES : appStrings.NO }}</p>
            </div>
        </ion-item>

        <ion-item margin-left *ngIf="!commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
            <ion-label>
                <h3>Drawbar coupling fitted</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.drawbarCouplingFitted ? appStrings.YES : appStrings.NO }}</p>
            </div>
        </ion-item>

        <ion-item margin-left *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)">
            <ion-label>
                <h3>Euro standard</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.euroStandard }}</p>
            </div>
        </ion-item>

        <ion-item margin-left *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL)">
            <ion-label>
                <h3>Suspension type</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.suspensionType }}</p>
            </div>
        </ion-item>

        <ion-item margin-left *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL)">
            <ion-label>
                <h3>Coupling type</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.couplingType }}</p>
            </div>
        </ion-item>

    </ion-list>

    <ion-list class="vehicle-list" *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
        <ion-list-header padding-left padding-right>DISPENSATIONS</ion-list-header>
        <ion-item margin-left padding-right>
            <p text-wrap text-left>{{ vehicleData.techRecord.dispensations }}</p>
        </ion-item>
    </ion-list>

    <ion-list class="vehicle-list" *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
        <ion-list-header padding-left padding-right>REMARKS</ion-list-header>
        <ion-item margin-left padding-right>
            <p text-wrap text-left>{{ vehicleData.techRecord.remarks }}</p>
        </ion-item>
    </ion-list>

    <ion-list class="vehicle-list" *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.HGV, VEHICLE_TYPE.TRL])">
        <ion-list-header padding-left padding-right>Dimensions</ion-list-header>

        <ion-item margin-left>
            <ion-label>
                <h3>Length</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord?.dimensions?.length }}</p>
            </div>
        </ion-item>

        <ion-item margin-left>
            <ion-label>
                <h3>Width</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord?.dimensions?.width }}</p>
            </div>
        </ion-item>

    </ion-list>

    <ion-list class="vehicle-list" *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)">
        <ion-list-header padding-left padding-right>Front axle to 5th wheel</ion-list-header>

        <ion-item margin-left>
            <ion-label>
                <h3>Min</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.frontAxleTo5thWheelMin }}</p>
            </div>
        </ion-item>

        <ion-item margin-left>
            <ion-label>
                <h3>Max</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.frontAxleTo5thWheelMax }}</p>
            </div>
        </ion-item>

    </ion-list>

    <ion-list class="vehicle-list" *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)">
        <ion-list-header padding-left padding-right>Front axle to 5th wheel coupling</ion-list-header>

        <ion-item margin-left>
            <ion-label>
                <h3>Min</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.frontAxleTo5thWheelCouplingMin }}</p>
            </div>
        </ion-item>

        <ion-item margin-left>
            <ion-label>
                <h3>Max</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.frontAxleTo5thWheelCouplingMax }}</p>
            </div>
        </ion-item>

    </ion-list>

    <ion-list class="vehicle-list" *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL)">
        <ion-list-header></ion-list-header>

        <ion-item margin-left *ngFor="let spacing of vehicleData.techRecord?.dimensions?.axleSpacing">
            <ion-label>
                <h3>{{ 'Axle spacing '+spacing.axles }}</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ spacing.value }}</p>
            </div>
        </ion-item>

        <ion-item margin-left text-wrap>
            <ion-label>
                <h3>Front axle centre to rear axle centre (Drawbars)</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.frontAxleToRearAxle }}</p>
            </div>
        </ion-item>

        <ion-item margin-left>
            <ion-label>
                <h3>Rear axle centre to rear of the trailer</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.rearAxleToRearTrl }}</p>
            </div>
        </ion-item>

    </ion-list>

    <ion-list class="vehicle-list" *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL)">
        <ion-list-header padding-left padding-right text-wrap class='list-header-double'>Coupling centre to the rear axle centre (mm)</ion-list-header>

        <ion-item margin-left>
            <ion-label>
                <h3>Min</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.couplingCenterToRearAxleMin }}</p>
            </div>
        </ion-item>

        <ion-item margin-left>
            <ion-label>
                <h3>Max</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.couplingCenterToRearAxleMax }}</p>
            </div>
        </ion-item>

    </ion-list>

    <ion-list class="vehicle-list" *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL)">
        <ion-list-header padding-left padding-right text-wrap class='list-header-double'>Coupling centre to the rear of the trailer (mm)</ion-list-header>

        <ion-item margin-left>
            <ion-label>
                <h3>Min</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.couplingCenterToRearTrlMin }}</p>
            </div>
        </ion-item>

        <ion-item margin-left>
            <ion-label>
                <h3>Max</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.couplingCenterToRearTrlMax }}</p>
            </div>
        </ion-item>

    </ion-list>

    <ion-list class="vehicle-list">
        <ion-list-header text-uppercase padding-left>Notes</ion-list-header>

        <ion-item ion-item detail-none padding-left>
            <ion-grid no-padding>
                <ion-row justify-content-between>
                    <ion-col col-12 text-start text-wrap>
                        <div item-content padding-right>
                            <p>{{ vehicleData.techRecord.notes || 'Not entered'}}</p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

</ion-content>
