page-test-station-home {

  .scroll-content{
    -webkit-text-size-adjust: $disable-accessibility-text-scaling;
    padding: 16px 34px !important;
  }

  .logo{
    padding-top: 18px;
  }

  ion-img.logo-img{
    width: 140px;

    img{
      max-height: 100%;
    }
  }

  .black-bar {
    height: 43px;
    background-color: color($colors, dark);
  }

  .blue-bar {
    height: 11px;
    background-color: color($colors, tertiary);
  }

  .beta{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color($colors, tertiary);
    color: color($colors, light);
    margin-top: 65px;
    width: 54px;
    height: 22px;

    span{
      font-family: $sf-pro-display-font-family;
      font-size: $font-size-normal;
      font-weight: $font-weight-bold;
    }
  }

  .start-title {
    margin-top: 15px;

    h1 {
      font-size: $font-size-extra-large;
      font-weight: $font-weight-bold;
      font-family: $sf-pro-display-font-family;
      margin: 0;
    }
  }

  ion-img {
    background: none;
  }

  h2 {
    margin-top: 10px;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    font-family: $sf-pro-display-font-family;
  }
}
