page-confirmation {
  .msg-centered {
    height: 45%;
    text-align: center;

    h3 {
      font-size: $font-size-medium-2;
      font-family: $sf-pro-font-family;
      font-weight: $font-weight-semi-bold;

      span {
        color: color($colors, primary);
        text-decoration: underline;
      }
    }
  }

  .tick-icon {
    width: 150px;
    height: 150px;
    margin: 120px auto 50px auto;
  }
}
