<ion-header transforming-searchBar [searchBarElemRef]="searchBar">
  <ion-navbar>
    <ion-title>
      Defect item
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchList($event)"
                   [(ngModel)]="searchVal"
                   [showCancelButton]="true"
                   [cancelButtonText]="'Cancel'"
                   placeholder="Search for a defect category or IM number"
                   #searchBar>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="content-background-color-grey">
  <ion-list text-wrap *ngIf="filteredItems.length > 0">
    <ion-item-divider padding-left>
      {{ category.imNumber }}. {{ category.imDescription }}
    </ion-item-divider>
    <ion-item detail-none padding-left
              class="list-item-height"
              *ngFor="let item of filteredItems | byVehicleType: vehicleType"
              (click)="selectItem(item)">
        <span>
          <h3>{{ item.itemNumber }}. {{ item.itemDescription }}</h3>
        </span>
      <ion-icon item-end name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <div *ngIf="filteredItems.length == 0" class="no-result">
    <h3>No results found</h3>
    <span>Try searching for a different term or</span>
    <span>picking from the list</span>
  </div>

</ion-content>
