page-atf-search {
  .item-ios.list-item-height {
    min-height: $list-ios-item-height;

    h3 {
      font-size: 17px;
    }
  }

  strong {
    font-weight: normal;
    color: black;
  }

  .item-block {
    border-bottom: 0.5px solid $list-ios-border-color;
  }

}
