page-atf-search {
  .no-result {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  strong {
    font-weight: normal;
    color: black;
  }

}
