ion-app.ios page-atf-details {
  [padding] .scroll-content {
    padding-top: 0;
  }

  .label-custom-style {
    color: color($colors, dark);
  }

  .value-custom-style {
    color: $color-grey-1;
  }

  .number-custom-style {
    font-size: $item-ios-divider-font-size;
    color: color($colors, primary);
    border-bottom: 0.55px solid $color-grey-2;
  }

  ion-item-divider {
    border-bottom: 0.55px solid $color-grey-2;
  }

}
