ion-app.ios page-atf-details {
  [padding] .scroll-content {
    padding-top: 0;
  }

  .label-custom-style {
    color: color($colors, dark);
  }

  .value-custom-style {
    color: $list-ios-item-font-color;
  }

  .number-custom-style {
    font-size: $item-ios-divider-font-size;
    color: color($colors, button-blue);
    border-bottom: 0.55px solid $item-icon-light-gray;
  }

  ion-item-divider {
    border-bottom: 0.55px solid $item-icon-light-gray;
  }

}
