page-defect-details {
  .content-ios {
    color: color($colors, dark);
  }

  .item-description {
    font-size: $font-size-medium;
    font-weight: $font-weight-semi-bold;
    display: inline-block;
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  p {
    font-size: $font-size-medium;
  }

  .defect-status {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-medium-2;
  }

  ion-item-divider .label-ios {
    font-size: $font-size-small;
  }

  ion-item {
    .select-icon {
      display: none;
    }
  }

  .btn-add-attachment {
    font-size: 16px;
    color: color($colors, primary);
  }

  .badge__prs {
    margin-left: 5px;
  }

  .textarea-height {
    height: 100px;
    textarea {
      height: 80px;
    }
  }

  .btn-remove-defect {
    font-size: 16px;
    color: color($colors, danger);
  }

  .custom-item-color {
    background-color: color($colors, light);
  }
}
