<ion-header transforming-searchBar [searchBarElemRef]="searchBar">
  <ion-navbar>
    <ion-title id="test-facility-title" margin-left>
      Find test facility
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar
      (ionInput)="searchList($event)"
      (ionFocus)="keepCancelOn($event)"
      (ionCancel)="keepCancelOn($event, true)"
      [(ngModel)]="searchVal"
      [ngClass]="{'keep-cancel-on': focusOut}"
      [cancelButtonText]="'Cancel'"
      placeholder="Search by test facility number, name or address"
      #searchBar
      id="test-facility-searchbar"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="content-background-color-grey">
  <ion-list *ngIf="filteredTestStations.length">
    <ion-item-group *ngFor="let testStationGroup of filteredTestStations">
      <div *ngFor="let testStation of testStationGroup; let i = index">
        <ion-item-divider padding-left *ngIf="i == 0">
          <b>{{ testStation.testStationName | slice:0:1 }}</b>
        </ion-item-divider>
        <button
          id="test-facility-select-site"
          ion-item
          (click)="openTestStation(testStation)"
          padding-left
          class="list-item-height"
          text-wrap
        >
          <h3>{{ testStation.testStationName }}</h3>
          <p
            *ngIf="testStation.searchProperty != 'testStationAddress'"
            [innerHTML]="boldSearchVal(testStation.testStationPNumber, searchVal)"
          ></p>
          <p
            *ngIf="testStation.searchProperty == 'testStationAddress'"
            [innerHTML]="boldSearchVal(testStation.testStationAddress, searchVal)"
          ></p>
        </button>
      </div>
    </ion-item-group>
  </ion-list>

  <div *ngIf="filteredTestStations.length == 0" class="no-result">
    <h3>No results found</h3>
    <span>You can search by test facility number,</span>
    <span>name or address</span>
  </div>
</ion-content>
