page-vehicle-history {
  ion-content {
    .scroll-content {
      background: $color-grey-3;
    }
  }

  .tests-list {
    margin-top: 30px;

    .item-ios {
      align-items: flex-start;
      min-height: 105px;

      p {
        font-size: $font-size-medium;
      }

      ion-row {
        ion-col {
          padding: 2px 0;
        }

        &:first-of-type ion-col {
          font-weight: $font-weight-semi-bold;
        }

        ion-col:first-of-type {
          p {
            color: color($colors, dark);
          }
        }
      }
    }
  }

  .no-result {
    margin: auto;
    width: 250px;
    max-height: 50%;
    text-align: center;
    h3 {
      color: $color-grey-1;
      font-size: $font-size-medium;
      font-weight: $font-weight-semi-bold;
      font-family: $sf-pro-font-family;
    }
  }
}
