page-vehicle-history {
  ion-header {
    height: $header-height-default;
  }

  ion-content {
    .scroll-content {
      background: $content-background-color;
    }
  }

  .tests-list {
    margin-top: 30px;

    .item-ios {
      align-items: flex-start;
      min-height: 105px;

      p {
        font-size: $font-size-medium;
      }

      ion-row {
        ion-col {
          padding: 2px 0;
        }

        &:first-of-type ion-col {
          font-weight: $font-weight-semi-bold;
        }

        ion-col:first-of-type {
          p {
            color: color($colors, dark);
          }
        }
      }
    }
  }
}
