<ion-header>
  <ion-navbar>
    <ion-title>
      Defect details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list text-wrap class="full-dividers-list">
    <ion-item class="defect-status">
      {{ defect.name }} • <span>{{ defect.level }}</span>
    </ion-item>
    <ion-item class="defect-description">
      {{ defect.description }}
      <ion-icon item-end name="ios-information-circle-outline" (click)="openManual()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>PRS</ion-label>
      <ion-toggle color="secondary" checked="false" [(ngModel)]="defect.prs"></ion-toggle>
    </ion-item>
    <ion-item-divider color="light">LOCATION</ion-item-divider>
    <ion-item detail-push>
      <ion-label>Axle</ion-label>
      <p item-end *ngIf="defect.axle == null" class="default-ion-option">Select</p>
      <ion-select item-end interface="action-sheet" [(ngModel)]="defect.axle">
        <ion-option value="Axle 1">Axle 1</ion-option>
        <ion-option value="Axle 2">Axle 2</ion-option>
      </ion-select>
    </ion-item>
    <ion-item detail-push>
      <ion-label>Position</ion-label>
      <p item-end *ngIf="defect.position == null" class="default-ion-option">Select</p>
      <ion-select item-end interface="action-sheet" [(ngModel)]="defect.position">
        <ion-option value="Nearside">Nearside</ion-option>
        <ion-option value="Offside">Offside</ion-option>
      </ion-select>
    </ion-item>
    <ion-item detail-push>
      <ion-label>Vertical</ion-label>
      <p item-end *ngIf="defect.vertical == null" class="default-ion-option">Select</p>
      <ion-select item-end interface="action-sheet" [(ngModel)]="defect.vertical">
        <ion-option value="Upper">Upper</ion-option>
        <ion-option value="Lower">Lower</ion-option>
      </ion-select>
    </ion-item>
    <ion-item-divider color="light">NOTES</ion-item-divider>
    <ion-item>
      <ion-input placeholder="Add notes" [(ngModel)]="defect.notes"></ion-input>
    </ion-item>
    <ion-item-divider color="light">ATTACHMENTS</ion-item-divider>
    <button class="btn-add-attachment" ion-item detail-none (click)="showAttachmentDialog()">
      Attach image
      <ion-icon name="ios-add-circle-outline" item-end></ion-icon>
    </button>
    <ion-item *ngIf="mediaAssets != null" class="attachments">
      <img *ngFor="let asset of mediaAssets" [src]="asset" (click)="openAttachment(asset)">
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <div class="footer-cta-section">
    <button ion-button block color="secondary" (click)="addDefect()" *ngIf="!checkIfDefectWasAdded()">Add defect</button>
  </div>
</ion-footer>
