ion-app.ios page-tests-list [padding] .scroll-content {
  padding: 0px;

  .item {
    min-height: 64px;
  }
  .item > ion-icon, .item-inner > ion-icon {
    min-height: 2.2rem;
    font-size: 2.2rem;
    color: #c8c7cc;
  }
}
