page-test-create {
  .content-ios {
    background-color: $content-background-color;

    .card-ios {
      .ion-item-title {
        h2 {
          font-size: 14px;
        }

        p {
          padding-top: 4px;
          font-weight: normal;
          font-size: 12px;
        }
      }

      .btn-add-test {
        font-size: 14px;
        color: color($colors, primary);
      }

      .item-ios.bottom-divider {
        border-top: 0.55px solid $item-icon-light-gray;
      }

      .item-ios {
        .test-type,
        .odometer-reading {
          margin-top: 2px;
        }

        [item-end].test-type-status,
        [item-end].odometer-reading-status {
          margin: 0;
        }

        [item-end].test-type-status.test-type-pass {
          color: color($colors, secondary);
        }

        [item-end].test-type-status.test-type-fail {
          color: color($colors, danger);
        }

        [item-end].test-type-status.test-type-notcomplete {
          color: color($colors, attention);
        }

        [item-end].odometer-reading-status.odometer-reading-start {
          color: $item-icon-light-gray;
        }

        [item-end].odometer-reading-icon {
          display: flex;
          align-items: center;
          margin-left: 10px;
          font-size: $font-size-medium;
        }

        [item-end].odometer-reading-icon.odometer-reading-icon-no-data {
          color: $light-gray;
        }

        [item-end].odometer-reading-icon.odometer-reading-icon-data {
          font-size: $font-size-large;
          color: color($colors, primary);
        }
      }
    }
  }

  .abandoned-test {
    opacity: .4;
  }
}
