page-test-create {
  .content-ios {
    background-color: $color-grey-3;

    .card-ios {
      .ion-item-title {
        h2 {
          font-size: 14px;
        }

        p {
          padding-top: 4px;
          font-weight: normal;
          font-size: 12px;
        }
      }

      .btn-add-test {
        font-size: 14px;
        color: color($colors, primary);
      }

      .item-ios.bottom-divider {
        border-top: 0.55px solid $color-grey-2;
      }

      .item-ios {
        .test-type,
        .odometer-reading {
          margin-top: 2px;
        }

        [item-start].vehicle-type-icon {
          margin: 8px 0 8px 16px;
          background: none;
        }

        [item-end].vehicle-details {
          margin: 8px;
          color: $color-grey-1;
        }

        [item-end].arrow-forward {
          color: $color-grey-2;
          font-size: $font-size-medium;
          display: flex;
          align-items: center;
        }

        [item-end].test-type-status {
          margin: 0;
        }

        [item-end].odometer-reading-status {
          margin: 0;
        }

        [item-end].test-type-status.test-type-pass {
          color: color($colors, secondary);
        }

        [item-end].test-type-status.test-type-fail {
          color: color($colors, danger);
        }

        [item-end].test-type-status.test-type-inProgress {
          color: $color-grey-1;
        }

        [item-end].odometer-reading-status.odometer-reading-start {
          color: $color-grey-1;
        }

        [item-end].odometer-reading-icon {
          display: flex;
          align-items: center;
          margin-left: 10px;
          font-size: $font-size-medium;
        }

        [item-end].odometer-reading-icon.odometer-reading-icon-no-data {
          color: $color-grey-2;
        }

        [item-end].odometer-reading-icon.odometer-reading-icon-data {
          font-size: $font-size-extra-large;
          color: color($colors, primary);
        }

        p[ion-text].test-result {
          margin-right: 8px;
        }
      }
    }
  }
}
