page-testCreate {
	.content-ios {
		background-color: #dee0e2;

		.card-ios {
			border-radius: 5px;

			.ion-item-title {		
				h2 {
					font-size: 14px;
				   }
		
				p {
					padding-top: 4px;
					font-weight: normal;
					font-size: 12px;
			   }
			}

			.btn-add-test {
				font-size: 14px;
				color: color($colors, primary);
			}

			.item-ios.bottom-divider {
				border-top: 0.55px solid #c8c7cc;
			}

			.item-ios {
				.test-type {
					margin-top: 2px;
				}

				[item-end].test-type-status {
					margin: 0px;
				}

				[item-end].test-type-status.test-type-pass {
					color: color($colors, secondary);
				}

				[item-end].test-type-status.test-type-fail {
					color: color($colors, danger);
				}

				[item-end].test-type-status.test-type-notcomplete {
					color: color($colors, attention);
				}
			}
		}
	}
}
