page-add-defect {
  .item-ios {
    ion-icon[item-end] {
      color: $color-grey-2;
    }
  }

  .item-ios.list-item-height {
    min-height: $list-ios-item-height;

    h3 {
      font-size: 17px;
    }
  }

  .badge-text-black {
    color: color($colors, dark);
  }

  .bold span {
    font-weight: $font-weight-semi-bold;
  }
}
