<ion-header transforming-searchBar [searchBarElemRef]="searchBar">
  <ion-navbar>
    <ion-title>
      Defect item
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchList($event)"
                   [(ngModel)]="searchVal"
                   [showCancelButton]="true"
                   [cancelButtonText]="'Cancel'"
                   placeholder="Search for a defect category or IM number"
                   #searchBar>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list text-wrap class="full-dividers-list" *ngIf="filteredDeficiencies.length > 0">
    <ion-item-divider color="light">
      {{ category.imNumber }}.{{ item.itemNumber }} {{ item.itemDescription }}
    </ion-item-divider>
    <ion-item detail-none class="defect-details"
              *ngFor="let deficiency of filteredDeficiencies | byVehicleType: vehicleType"
              (click)="selectDeficiency(deficiency)">
      <span>
          <h3>
            {{deficiency.ref}}
            <ion-badge item-end text-uppercase
                       [color]="defectsService.getBadgeColor(deficiency.deficiencyCategory)"
                       [ngClass]="{'badge__text-black': deficiency.deficiencyCategory === 'Minor'}">
              {{ deficiency.deficiencyCategory }}
            </ion-badge>
          </h3>
          <p>{{ deficiency.deficiencyText }}</p>
        </span>
      <ion-icon item-end name="arrow-forward"></ion-icon>
    </ion-item>

    <ion-item-divider color="light" text-uppercase>Advisory</ion-item-divider>
    <button class="btn-add-test" ion-item detail-none (click)="addAdvisory()">
      Add an advisory note
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </button>

  </ion-list>

  <div *ngIf="filteredDeficiencies.length == 0" class="no-result">
    <h3>No results found</h3>
    <span>Try searching for a different term or</span>
    <span>picking from the list</span>
  </div>
</ion-content>
