<ion-header>
    <ion-navbar>
        <ion-title>
            Select reason
        </ion-title>
        <ion-buttons end>
            <button ion-button
                    *ngIf="selectedReasons.length"
                    (click)="onNext()">
                Next
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group>
            <ion-item-divider padding-left>You can select multiple reasons for abandoning this test</ion-item-divider>
            <ion-item text-wrap padding-horizontal
                      *ngFor="let reason of reasonsList">
                <ion-label>{{reason.text}}</ion-label>
                <ion-checkbox [(ngModel)]="reason.isChecked" (ionChange)="onCheck(reason)"></ion-checkbox>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>
