page-reasons-selection {
  .item-divider-ios {
    font-size: $font-size-small;
    text-transform: none;
  }

  .selected {
    color: color($colors, primary);
  }

  .checkbox-list {
    .label-ios {
      margin: 16px 28px 16px 0;
    }

    ion-icon[item-end] {
      display: flex;
      align-items: center;
      margin: 0;
      position: absolute;
      right: 16px;
      height: 100%;
    }
  }
}
