page-tests-types-list {
  .item-ios {
    ion-icon[item-end] {
      color: $item-icon-light-gray;
    }
  }

  .item-ios.list-item-height {
    min-height: $list-ios-item-height;

    h3 {
      font-size: $font-size-medium;
    }
  }

  .button-inner {
    font-weight: $font-weight-normal;
  }

  span.back-button-text-ios {
    display: inline-block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
  }
}
