page-tests-types-list {
  .item-ios {
    ion-icon[item-end] {
      color: $color-grey-2;
    }
  }

  .item-ios.list-item-height {
    min-height: $list-ios-item-height;

    h3 {
      font-size: 17px;
    }
  }
}
