<ion-header>
  <ion-navbar [hideBackButton]="firstPage">
    <ion-buttons start *ngIf="firstPage">
      <button ion-button (click)="cancelTypes()" color="light">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="firstPage">Test type</span>
      <span *ngIf="!firstPage">{{ previousPage }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="content-background-color-grey">
  <ion-list>
    <ion-item-group>
      <ng-container *ngFor="let testType of testTypeReferenceData | filterTestTypeByVehicle: vehicleData">
        <ion-item detail-none padding-left text-wrap
                  class="list-item-height"
                  *ngIf="vehicleData.testTypes.length === 0 || canDisplay(addedTestTypesIds(vehicleData), testType) && canDisplayCategory(testType, addedTestTypesIds(vehicleData))"
                  (click)="selectedItem(testType, vehicleData)">
          <h3>{{ testType.name }}</h3>
          <ion-icon item-end *ngIf="testType.nextTestTypesOrCategories" name="arrow-forward"></ion-icon>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </ion-list>
</ion-content>
