<ion-header>
  <ion-navbar [hideBackButton]="firstPage">
    <ion-buttons start *ngIf="firstPage">
      <button ion-button (click)="cancelTypes()" color="button-blue">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="firstPage">Test type</span>
      <span *ngIf="!firstPage">{{ previousPage.charAt(0).toUpperCase() + previousPage.slice(1, previousPage.length) }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="content-background-color-grey">
  <ion-list>
    <ion-item-group>
      <ion-item detail-none padding-left
                class="list-item-height"
                *ngFor="let testType of testTypeReferenceData | filterTestTypeByVehicle: vehicleData"
                (click)="selectedItem(testType)">
        <h3>{{ testType.testTypeName || testType.name.charAt(0).toUpperCase() + testType.name.slice(1, testType.name.length) }}</h3>
        <ion-icon item-end *ngIf="testType.nextTestTypesOrCategories" name="arrow-forward"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
