ion-app.ios page-add-defect-category {
  [padding] .scroll-content {
    padding: 0;
  }

  .item-ios {
    ion-icon[item-end] {
      color: #c8c7cc;
    }
  }

  .item-ios.defect-category {
    min-height: 71px;

    h3 {
      font-size: 17px;
    }
  }
}



