page-add-defect-category {
  .item-ios {
    ion-icon[item-end] {
      color: #c8c7cc;
    }
  }

  .item-ios.list-item-height {
    min-height: $list-ios-item-height;

    h3 {
      font-size: 17px;
    }
  }
}



