multiple-tech-records-selection {
  ion-item-divider {
    min-height: $list-header-height-medium;
  }

  ion-list .input-wrapper ion-label {
    h3 {
      font-size: $font-size-medium;
      font-weight: $font-weight-semi-bold;
    }

    margin: 16px 0;
  }

  [item-start].vehicle-type-icon {
    margin: 8px 16px 8px 16px;
    width: 65px;
  }

  .item[no-lines].full-border {
    border-bottom: 0.5px solid $color-grey-2;
    border-top: 0.5px solid $color-grey-2;
  }

  .skeleton-banner {
    padding: 16px;
    font-size: $font-size-medium;
    color: color($colors, light);
    background-color: color($colors, tertiary);
  }

  .skeleton-button {
    padding-left: 16px;
  }
}
