<ion-header>
    <ion-navbar>
        <ion-title margin-left>
            <span>Weights</span>
        </ion-title>
    </ion-navbar>

    <ion-toolbar  color="tertiary" *ngIf="vehicleData.techRecord.statusCode===TECH_RECORD_STATUS.PROVISIONAL" >
        <ion-title padding-left>This is a provisional record.</ion-title>
    </ion-toolbar>

</ion-header>
  
<ion-content no-padding>
    <div text-uppercase 
         text-center 
         class="vehicle-header-vrm-number">
        {{ vehicleData.vrm | formatVrm }}
    </div>
  
    <ion-list class="vehicle-list" *ngFor="let axle of vehicleData.techRecord.axles">
        <ion-list-header padding-left padding-right>AXLE {{ axle.axleNumber }}</ion-list-header>
        <ion-item margin-left>
            <ion-label>
                <h3>Kerb</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ axle.weights.kerbWeight }}</p>
            </div>
        </ion-item>
        <ion-item margin-left padding-right>
            <ion-label>
                <h3>Laden</h3>
            </ion-label>
            <div item-content>
                <p>{{ axle.weights.ladenWeight }}</p>
            </div>
        </ion-item>
        <ion-item margin-left padding-right>
            <ion-label>
                <h3>GB</h3>
            </ion-label>
            <div item-content>
                <p>{{ axle.weights.gbWeight }}</p>
            </div>
        </ion-item>
        <ion-item margin-left padding-right>
            <ion-label>
                <h3>Design</h3>
            </ion-label>
            <div item-content>
                <p>{{ axle.weights.designWeight }}</p>
            </div>
        </ion-item>
    </ion-list>

    <ion-list class="vehicle-list">
        <ion-list-header padding-left padding-right>GROSS</ion-list-header>
        <ion-item margin-left>
            <ion-label>
                <h3>Kerb</h3>
            </ion-label>
            <div item-content padding-right>
                <p>{{ vehicleData.techRecord.grossKerbWeight }}</p>
            </div>
        </ion-item>
        <ion-item margin-left padding-right>
            <ion-label>
                <h3>Laden</h3>
            </ion-label>
            <div item-content>
                <p>{{ vehicleData.techRecord.grossLadenWeight }}</p>
            </div>
        </ion-item>
        <ion-item margin-left padding-right>
            <ion-label>
                <h3>GB</h3>
            </ion-label>
            <div item-content>
                <p>{{ vehicleData.techRecord.grossGbWeight }}</p>
            </div>
        </ion-item>
        <ion-item margin-left padding-right>
            <ion-label>
                <h3>Design</h3>
            </ion-label>
            <div item-content>
                <p>{{ vehicleData.techRecord.grossDesignWeight }}</p>
            </div>
        </ion-item>
    </ion-list>
            
    <ion-list margin-bottom class="vehicle-list">
        <ion-list-header padding-left padding-right>UNLADEN</ion-list-header>
        <ion-item margin-left padding-right>
            <ion-label>
                <h3>Kerb</h3>
            </ion-label>
            <div item-content>
                <p>{{ vehicleData.techRecord.unladenWeight }}</p>
            </div>
        </ion-item>
    </ion-list>

</ion-content>
  
