<ion-header>
  <ion-navbar>
    <ion-title margin-left>
      <span>Weights</span>
    </ion-title>
  </ion-navbar>

  <ion-toolbar
    color="tertiary"
    *ngIf="vehicleData.techRecord.statusCode===TECH_RECORD_STATUS.PROVISIONAL"
  >
    <ion-title padding-left>{{ APP_STRINGS.PROVISIONAL_LABEL_TEXT }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div text-uppercase text-center class="vehicle-header-vrm-number">
    <ng-container
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL); else isVehicle"
      >{{ vehicleData.trailerId }}</ng-container
    >
    <ng-template #isVehicle>{{ vehicleData.vrm | formatVrm }}</ng-template>
  </div>

  <ion-list class="vehicle-list" *ngFor="let axle of vehicleData.techRecord.axles">
    <ion-list-header padding-left padding-right>AXLE {{ axle?.axleNumber }}</ion-list-header>
    <ion-item
      margin-left
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
    >
      <ion-label>
        <h3>Kerb</h3>
      </ion-label>
      <div item-content padding-right>
        <p>{{ axle?.weights?.kerbWeight }}</p>
      </div>
    </ion-item>
    <ion-item
      margin-left
      padding-right
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
    >
      <ion-label>
        <h3>Laden</h3>
      </ion-label>
      <div item-content>
        <p>{{ axle?.weights?.ladenWeight }}</p>
      </div>
    </ion-item>
    <ion-item margin-left padding-right>
      <ion-label>
        <h3>GB</h3>
      </ion-label>
      <div item-content>
        <p>{{ axle?.weights?.gbWeight }}</p>
      </div>
    </ion-item>
    <ion-item margin-left padding-right>
      <ion-label>
        <h3>Design</h3>
      </ion-label>
      <div item-content>
        <p>{{ axle?.weights?.designWeight }}</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list class="vehicle-list">
    <ion-list-header padding-left padding-right>GROSS</ion-list-header>
    <ion-item
      margin-left
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
    >
      <ion-label>
        <h3>Kerb</h3>
      </ion-label>
      <div item-content padding-right>
        <p>{{ vehicleData.techRecord.grossKerbWeight }}</p>
      </div>
    </ion-item>
    <ion-item
      margin-left
      padding-right
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
    >
      <ion-label>
        <h3>Laden</h3>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.techRecord.grossLadenWeight }}</p>
      </div>
    </ion-item>
    <ion-item margin-left padding-right>
      <ion-label>
        <h3>GB</h3>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.techRecord.grossGbWeight }}</p>
      </div>
    </ion-item>
    <ion-item margin-left padding-right>
      <ion-label>
        <h3>Design</h3>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.techRecord.grossDesignWeight }}</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list
    class="vehicle-list"
    *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)"
  >
    <ion-list-header padding-left padding-right>Train</ion-list-header>

    <ion-item margin-left padding-right>
      <ion-label>
        <h3>GB</h3>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.techRecord.trainGbWeight }}</p>
      </div>
    </ion-item>

    <ion-item margin-left padding-right>
      <ion-label>
        <h3>Design</h3>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.techRecord.trainDesignWeight }}</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list
    class="vehicle-list"
    *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)"
  >
    <ion-list-header padding-left padding-right>Max train</ion-list-header>

    <ion-item margin-left padding-right>
      <ion-label>
        <h3>GB</h3>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.techRecord.maxTrainGbWeight }}</p>
      </div>
    </ion-item>

    <ion-item margin-left padding-right>
      <ion-label>
        <h3>Design</h3>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.techRecord.maxTrainDesignWeight }}</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list
    margin-bottom
    class="vehicle-list"
    *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL)"
  >
    <ion-list-header></ion-list-header>
    <ion-item margin-left padding-right>
      <ion-label>
        <h3>Max load on coupling</h3>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.techRecord.maxLoadOnCoupling }}</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list
    margin-bottom
    class="vehicle-list"
    *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
  >
    <ion-list-header padding-left padding-right>UNLADEN</ion-list-header>
    <ion-item margin-left padding-right>
      <ion-label>
        <h3>Kerb</h3>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.techRecord.unladenWeight }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
