page-test-review {
  .content-ios {
    background-color: $color-grey-3;

    .section-divider {
      display: block;
      border-top: 1px solid $list-ios-border-color;
    }

    .card-ios {
      .ion-item-title {
        h2 {
          font-size: $font-size-medium;
        }

        p {
          padding-top: 4px;
          font-weight: normal;
          font-size: $font-size-normal;
        }
      }

      ion-row[padding-left] {
        display: flex;
        align-items: center;
      }

      .btn-add-test {
        font-size: 14px;
        color: color($colors, primary);
      }

      .item-ios.bottom-divider {
        border-top: 0.55px solid $color-grey-2;
      }

      .item-ios {
        .label-ios {
          margin: 0;

          .test-field {
            padding: 16px 16px 16px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 0.55px solid $list-ios-border-color;

            &-no-border-top {
              border-top: none;
            }

            h3 {
              margin: 0;
              font-size: $font-size-medium;
            }
          }

          .defects-section-title,
          .notes-section-title {
            font-size: $font-size-normal;
            margin-bottom: 8px;
          }

          .defect-details {
            margin-top: 12px;
            margin-bottom: 12px;

            &.border {
              padding-bottom: 8px;
              margin-bottom: 8px;
              border-bottom: 0.55px solid $list-ios-border-color;
            }

            h3 {
              white-space: normal;
              font-size: $font-size-medium;
            }

            h3.defect-name {
              font-weight: bold;
              font-size: $font-size-medium;
            }
          }

          .parent-info-color {
            color: $color-grey-1;
            font-size: $font-size-medium;
          }

          h3[margin-bottom].parent-info-color {
            margin-bottom: 16px;
          }

          p{
            font-size: $font-size-medium;
          }
        }

        .test-type,
        .odometer-reading {
          margin-top: 2px;
          font-size: $font-size-medium;
        }

        [item-start].vehicle-type-icon {
          margin: 8px 0 8px 16px;
          background: none;
        }

        [item-end].vehicle-details {
          margin: 8px;
          color: $color-grey-1;
        }

        [item-end].arrow-forward {
          color: $color-grey-2;
          font-size: $font-size-medium;
          display: flex;
          align-items: center;
        }

        [item-end].test-type-status {
          margin: 0;
          font-size: $font-size-medium;
        }

        [item-end].odometer-reading-status {
          font-size: $font-size-medium;
          margin: 0;
        }

        [item-end].test-type-status.test-type-pass {
          color: color($colors, secondary);
          font-size: $font-size-medium;
        }

        [item-end].test-type-status.test-type-fail {
          color: color($colors, danger);
          font-size: $font-size-medium;
        }

        [item-end].test-type-status.test-type-inProgress {
          color: $color-grey-2;
          font-size: $font-size-medium;
        }

        [item-end].odometer-reading-status.odometer-reading-start {
          color: $color-grey-2;
          font-size: $font-size-medium;
        }

        [item-end].odometer-reading-icon {
          display: flex;
          align-items: center;
          margin-left: 10px;
          font-size: $font-size-medium;
        }

        [item-end].odometer-reading-icon.odometer-reading-icon-no-data {
          color: $color-grey-2;
        }

        [item-end].odometer-reading-icon.odometer-reading-icon-data {
          font-size: $font-size-extra-large;
          color: color($colors, primary);
        }
      }
    }
  }

  .item-ios p.item-text-color {
    color: color($colors, dark);
    font-weight: $font-weight-bold;
    font-weight: $font-size-medium;
  }

  .change-details-button {
    padding: 8px 0 8px 16px;
    
    h3 {
      color: color($colors, primary);
      font-size: $font-size-medium;
    }
  }

  .footer-cta-section button{
    font-weight: $font-weight-semi-bold;
  }

  ion-img {
    background: none;
  }

  .height-60{
    height: 60px;
  }

  .item-ios.item-block .item-inner{
    padding-right: 0;
  }
}
