ion-app.ios page-complete-test {

  .item-block {
    min-height: 58px;
  }

  .bottom-divider {
    border-top: 0.55px solid $color-grey-3;
  }

  button[disabled] {
    opacity: unset;
  }

  h3[item-end].current-value {
    margin-bottom: 8px;
  }

  ion-icon[item-end].arrow-forward {
    display: flex;
    align-items: center;
    font-size: $font-size-medium-2;
    color: $color-grey-2;
  }

  .datetime-ios {
    padding: unset;
    font-size: $item-ios-divider-font-size;
  }

  ion-grid.certificateNumberCustom {
    padding: unset;
    background-color: color($colors, light);
  }

  ion-col[col-2].certificateNumberCustom-label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $color-grey-2;
  }

  ion-col[col-10].certificateNumberCustom-input {
    padding-left: 16px;
  }

  h3[item-end].current-value.no-data {
    color: $color-grey-2;
  }

  h3[item-end].current-value.data-successful {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: color($colors, secondary);
  }

  h3[item-end].current-value.data-unsuccessful {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: color($colors, danger);
  }

  .defect-details {
    h3 {
      white-space: normal;
      font-size: 17px;
    }

    h3.defect-name {
      font-weight: bold;
    }
  }

  .item-ios ion-icon[item-start] {
    margin-left: 14px;
    margin-right: 0px;
    color: color($colors, secondary);
  }

  .badge-ios-light {
    border: 1px solid color($colors, dark);
    background-color: transparent;
  }

  .btn-add-test {
    font-size: 16px;
    color: color($colors, primary);
  }

  .btn-remove-test {
    font-size: 16px;
    color: color($colors, danger);
  }

  .parent-info-color {
    color: $color-grey-1;
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .no-margin-left {
    margin-left: 0;
  }

  .no-margin-right {
    margin-right: 0;
  }

  .certificate-number-guidance {
    color: $color-grey-1;
  }

  ion-header {
    ion-navbar.toolbar.toolbar-ios.statusbar-padding {
      height: 100px;
      padding-top: 24px !important;
    }
  }

  .scroll-content {
    margin-top: 100px;
  }

  ion-item-divider {
    height: 40px;

    ion-label {
      margin-top: 11px;
    }
  }

  .test-type-name {
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
  }

}

