ion-app.ios page-complete-test {
  [padding] .scroll-content {
    padding: 0px;
  }

  .scroll-content {
    max-height: calc(100% - 215px);
  }

  ion-list-header {
    background-color: whitesmoke;
    font-size: 1.3rem;
  }

  .item-block {
    min-height: 58px;

    ion-input {
      ::-webkit-input-placeholder {
        text-align: right;
      }
      input:-moz-placeholder {
        text-align: right;
      }

      input {
        text-align: right;
      }
    }

    ion-input.odometer-reading {
      ::-webkit-input-placeholder {
        color: color($colors, attention);
      }
      input:-moz-placeholder {
        color: color($colors, attention);
      }
    }

    .button-ios {
      color: #8e9093;
      background-color: #fff;
      font-size: 17px;
    }

    ion-select {
      color: #8e9093;
    }
  }

  .defect-details {
    h3 {
      white-space: normal;
      font-size: 17px;
    }

    h3.defect-name {
      font-weight: bold;

      span {
        color: color($colors, danger);
      }
    }
  }

  .item-ios ion-icon[item-start] {
    margin-left: 14px;
    margin-right: 0px;
    color: color($colors, secondary);
  }

  ion-footer {
    padding: 0px 16px 25px 16px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fff;
    position: fixed;
    height: 135px;

    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);

    .list-ios {
      margin-bottom: 0px;

      .item-block .item-inner {
        border: none;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
    }

    h2:first-child {
      margin: auto;
    }

    h1 {
      font-size: 30px;
      font-weight: bold;
    }

    h1.test-type-pass {
      color: color($colors, secondary);
    }

    h1.test-type-fail {
      color: color($colors, danger);
    }

    button {
      background-color: color($colors, secondary);
      -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
    }

  }

}

