ion-app.ios page-vehicle-weights{

  ion-header{
    height: $header-height-default;

    ion-title{
      margin-top: $header-title-margin-top-default;
    }
  }

  ion-content {
    
    .scroll-content {
      background: $content-background-color;
    }
  }
}

