ion-app.ios page-vehicle-brakes {

  ion-content {
    .scroll-content{
      background: $color-grey-3;
    }

    ion-list.vehicle-list{
      ion-list-header.list-header-double{
        height: $list-header-height-medium;

        ion-label{
          margin-top: 20px;
        }
      }

      ion-item.flex-direction-column .input-wrapper {
        flex-direction: column;
        align-items: start;

        ion-label {
          margin-bottom: 0;
        }

        div[item-content] {
          margin-bottom: 11px;
        }
      }
    }
  }
}

