ion-app.ios page-test-station-details {
  [padding] .scroll-content {
    padding-top: 0;
  }

  .label-custom-style {
    color: color($colors, dark);
  }

  .value-custom-style {
    color: $color-grey-1;
  }

  .number-custom-style {
    font-size: $item-ios-divider-font-size;
    color: color($colors, primary);
    border-bottom: 0.55px solid $color-grey-2;
  }

  ion-item-divider {
    border-bottom: 0.55px solid $color-grey-2;
  }
}

.accessibility-limit-message-height .alert-message {
  max-height: 115px;
}

ion-item.accessibility-display-flex-column ion-label {
  display: flex;
  flex-direction: column;
  align-items: start;
}
