// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$title-font-family: "Arial Black", Gadget, sans-serif;

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-size-small: 13px;
$font-size-normal: 15px;
$font-size-medium: 17px;
$font-size-large: 34px;

$item-ios-divider-font-size: 14px;
$custom-back-button-font-size: 34px;

$list-ios-item-height: 71px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:     #2b8cc4,
  secondary:   #00823b,
  tertiary:    #005ea5,
  danger:      #b10e1e,
  attention:   #ffbf47,
  light:       #fff,
  dark:        #0b0c0c
);

$color-grey-1: #6c6c70;
$color-grey-2: #bfc1c3;
$color-grey-3: #efeef4;
$color-grey-4: #f8f8f8;
$color-reg-plate: #ffd84c;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$item-ios-divider-color: $color-grey-1;
$item-ios-divider-background: $color-grey-3;
$item-ios-paragraph-text-color: $color-grey-1;

$alert-ios-message-text-color: color($colors, dark);
$alert-ios-sub-title-text-color: color($colors, dark);

$list-ios-header-color: $color-grey-1;
$list-ios-header-background-color: $color-grey-3;

$item-ios-detail-push-color: $color-grey-2;

$text-input-placeholder-color: $color-grey-1;


$list-header-height-small: 40px;
$list-header-height-medium: 60px;
$card-ios-border-radius: 5px;
$header-height-default: 116px;
$header-title-margin-top-default: 64px;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
