// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$title-font-family: "Arial Black", Gadget, sans-serif;

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-size-small: 13px;
$font-size-normal: 15px;
$font-size-medium: 17px;
$font-size-large: 34px;

$item-ios-divider-font-size: 14px;
$custom-back-button-font-size: 34px;

$item-icon-light-gray: #BCBBC1;
$content-background-color: #DEE0E2;
$list-ios-item-height: 71px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:     #005ea5,
  secondary:   #00823b,
  button-blue: #3f9ed5,
  danger:      #b10e1e,
  attention:   #ffbf47,
  light:       #fff,
  dark:        #0b0c0c
);

$light-gray: #d3d3d3;
$content-background-color: #EFEFF4; 
$reg-plate-color: #FFD84C;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$list-ios-header-background-color: #EFEFF4;
$list-ios-header-font-color: #6D6D72;
$list-ios-item-font-color: #8E8E93;
$list-ios-border-color: #BCBBC1;

$list-header-height-small: 40px;
$list-header-height-medium: 60px;

$item-ios-detail-push-color: $list-ios-border-color;
$card-ios-border-radius: 5px;
$item-ios-divider-background: $content-background-color;

$header-height-default: 116px;
$header-title-margin-top-default: 64px;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
