ion-app.ios page-vehicle-details {
  ion-content {
    .scroll-content {
      background: $color-grey-3;
    }

    .vehicle-header-vrm-number {
      margin-bottom: 2px;
    }

    ion-list-header.list-header {
      min-height: $list-header-height-medium;

      ion-label {
        margin-top: 32px;
      }
    }
  }

  ion-list .input-wrapper {
    p:first-of-type {
      word-break: break-word; //Break the VIN
    }
  }
}
