ion-app.ios page-testSummary { 
    [padding] .scroll-content {
        padding: 0px;
        background-color: #dee0e2;
    }

    ion-item.summary-message {
        padding-left: 16px;
        font-size: 20px;
        font-weight: bold;
    }

    ion-card {
        border-radius: 5px;
        padding: 10px;
        margin-left: 25px;
        margin-right: 25px;
        width: calc(100% - 50px);

        .list-ios > .item-block:first-child, .list-ios > .item-block:last-child {
            border: none;
        }

        .list-ios > .item-block:first-child {
            border-bottom: 1px solid #dee0e2;
        }

        ion-list {
            ion-item {
                h1, h2, h3 {
                    font-weight: bold;
                }

                h1 {
                    font-size: 30px;
                }

                p.vehicle-registration {
                    color: #8c8c8c;
                    font-size: 12px;
                }

                .test-type-pass {
					color: color($colors, secondary);
				}

				.test-type-fail {
					color: color($colors, danger);
                }
                
                .defect-summary {
                    margin-bottom: 10px;

                    h3 {
                        font-weight: normal;
                        white-space: normal;

                        span {
                            color: color($colors, danger);
                        }
                    }

                    p {
                        white-space: normal;
                    }
                }
            }

            .item-ios [item-end] {
                margin: 0px;
            }
        }
    }

    ion-footer {
        background-color: #dee0e2;
    }
}