// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.header-ios {
 
  ion-navbar.toolbar {
    display: flex;
    align-items: flex-start;
  }

  ion-navbar {
    min-height: 80px;
    height: inherit;
    background: color($colors, dark);
    
    ion-title {
      padding: 0;
      height: 44px;
      margin: 35px 0 0 10px;

      .toolbar-title-ios {
        text-align: left;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        line-height: 41px;
        color: color($colors, light);
      }
    }

    .toolbar-background-ios {
      background-color: color($colors, dark);
    }

    button {
      color: color($colors, light);
      font-weight: $font-weight-bold;

      &.back-button{
        font-weight: $font-weight-normal;
      }
    }
  }

  ion-navbar.testInProgress {
    .toolbar-background-ios {
      background-color: color($colors, primary);
    }
  }

  ion-toolbar {
    padding-top: 0;
    min-height: 50px;

    .toolbar-background-ios {
      background-color: color($colors, dark);
    }

    .searchbar-ios {
      min-height: inherit;
      padding-bottom: 8px;

      .searchbar-ios-cancel {
        margin: 0;
      }

      .searchbar-input {
        background-color: $light-gray;
      }
    }
  }
}

.item-ios {
  padding-left: 0;

  .ion-item-header {
    font-weight: $font-weight-bold;
  }
}

.full-dividers-list {
  .input-wrapper {
    padding-left: 16px;
  }
}

.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child,
.ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child,
.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
  padding-top: calc(20px + 4px);
  padding-left: calc(constant(safe-area-inset-left) + 4px);
  padding-right: calc(constant(safe-area-inset-right) + 4px);
  padding-top: calc(constant(safe-area-inset-top) + 4px);
  min-height: calc(80px + 20px);
  min-height: calc(80px + constant(safe-area-inset-top));
}

.ios ion-footer {
  .footer-cta-section {
    padding: 0 16px;
    button {
      margin-bottom: 30px;
      font-weight: $font-weight-bold;
      -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
    }
  }

  .toolbar:last-child {
    min-height: 44px;
    height: inherit;
    padding-bottom: inherit;
  }

  .accessibility-bold-text {
    font-weight: 600 !important;
    span, p, h1, h2, h3, h4, h5 {
      font-weight: 600 !important;
    }
  }
}

.content-background-color-grey {
  background-color: $content-background-color;
}

// Global CSS for item-dividers
ion-item-divider {
  .label-ios {
    margin: 0 8px 0 0;
  }
}

// Global CSS for item-groups
ion-item-group {
  .item-ios {
    padding: 0 16px;
  }

  .item-ios:last-child {
    .item-inner {
      border-bottom: none !important;
    }
  }
}

.no-result {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.searchbar-scroll--margin-small {
  margin-top: 67px !important;
}

.searchbar-scroll--margin-big {
  margin-top: 150px !important;
}

.searchbar-scroll--margin-bot {
  margin-bottom: 0 !important;
}

.searchbar-navbar {
  display: none !important;
}

.searchbar-ionToolBar {
  padding-top: 24px !important;
}
// Registration plate
.vehicle-header-vrm-number {
  background: $reg-plate-color;
  width: 194px;
  height: 50px;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: 42px;
  border-radius: 8px;
  border: 3px color($colors, dark) solid;
  margin: 24px auto;
}

// Vehicle list general style
ion-list.vehicle-list{
  border-bottom: 0.5px solid $list-ios-border-color;
  margin-bottom: 10px;
  background: #fff; 

  ion-list-header.list-header{
    height: $list-header-height-small;
    background: $list-ios-header-background-color;
    border-bottom: 0.5px solid $list-ios-border-color;

    ion-label{
      font-size: $font-size-small;
      font-weight: $font-weight-normal;
      margin-bottom: 0;
    }
  }

  .item-block .item-inner {
    border-bottom: none;
    padding-right: 0;
  }

  ion-item.item-ios{
    width: calc(100% - 16px);
    border-bottom: 0.5px solid $list-ios-border-color;

    &:last-child{
      border-bottom: 0;
      margin-bottom: 1px; /* Fixes overlapping issue with the list's border-bottom */
    }

    ion-label{
      color: $list-ios-header-font-color;
      font-weight: $font-weight-normal;
      line-height: 18px;

      h3{
        font-size: $font-size-medium;
        font-weight: $font-weight-normal;
        line-height: 22px;
        color: color($colors, dark);
      }

      p[text-wrap]{
        font-size: $font-size-medium;
        font-weight: $font-weight-normal;
        line-height: 22px;
        color: color($colors, dark);
      }
    }
  
    [item-content]{
      p{
        font-size: $font-size-medium;
        font-weight: $font-weight-normal;
        line-height: 22px;
        color: $list-ios-item-font-color;
      }
    }
  }
  button.item-ios {
    height: 60px;
    width: calc(100% - 16px);
    border-bottom: 0.5px solid $list-ios-border-color;

    &:last-child{
      border-bottom: 0;
      margin-bottom: 1px; /* Fixes overlapping issue with the list's border-bottom */
    }

    ion-label{
      h3{
        font-size: $font-size-medium;
      }
    }
  } 
}

