page-odometer-reading {
  ion-header {
    //ion-navbar.toolbar.toolbar-ios.statusbar-padding {
    //  height: 100px;
    //  padding-top: 24px !important;
    //}

    ion-title[margin-left].title-ios {
      padding-top: 20px;

      .toolbar-title.toolbar-title-ios {
        font-size: $font-size-extra-large;
      }
    }
  }

  .item-divider-ios {
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  .item-ios {
    .unit {
      margin-top: 2px;
    }

    [item-end].unit-edit {
      margin: 0;
      color: $color-grey-1;
    }
  }

  ion-item.error-incomplete-item ::placeholder {
    color: color($colors, danger) !important;
  }

  ion-item.error-incomplete-item.input-has-focus ::placeholder {
    color: $color-grey-1 !important;
  }
}
