page-atf-home {
  .black-bar {
    height: 35px;
    background-color: color($colors, dark);
  }

  .blue-bar {
    height: 15px;
    background-color: color($colors, primary);
  }

  .beta{
    display: inline-block;
    font-family: $title-font-family;
    background-color: color($colors, primary);
    color: color($colors, light);
    padding: 1px 5px;

    span{
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      letter-spacing: -0.5px;
    }
  }

  .start-title {
   
    h1 {
      font-size: $font-size-extra-large;
      font-weight: $font-weight-bold;
      margin: 0;
    }
  }

  ion-img {
    background: none;
  }

  h4 {
    margin-top: 10px;
    font-size: $font-size-extra-large;
  }
}