page-country-of-registration {
  ion-list.list-ios {
    margin-bottom: 0;

    button .label-ios {
      margin: 22px 8px 22px 0;

      h3 {
        font-size: $font-size-medium;
      }
    }
  }

  ion-item-divider .label-ios {
    font-size: $font-size-medium;
  }

  .no-border {
    div.item-inner {
      border-bottom: none !important;
    }
  }

  .selected {
    color: color($colors, primary);
  }
}
