page-country-of-registration {

  ion-header[transforming-searchBar] {

    ion-navbar.toolbar.toolbar-ios.statusbar-padding {
      height: 80px;
      padding-top: 24px !important;
    }

    ion-title[margin-left].title-ios {
      padding-top: 20px;

      .toolbar-title.toolbar-title-ios {
        font-size: $font-size-large;
      }
    }
  }

  .scroll-content.searchbar-scroll--margin-big {
    margin-top: 130px !important;
  }

  ion-list.list-ios {
    margin-bottom: 0;
  }

  .no-border {
    div.item-inner {
      border-bottom: none !important;
    }
  }

  .selected {
    color: color($colors, primary);
  }

}
