page-add-preparer {

  ion-content{
    .scroll-content{
      background: $color-grey-3;
    }
  }
  .item__preparer-name {
    color: $color-grey-1;
  }

  .truncate-text {
    display: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .min-height {
    min-height: 55px;
  }

  .noResults {
    margin-top: 30%;
  }

  .no-results__title {
    font-size: 19px;
    font-weight: 600;
    color: $color-grey-2;
    display: inherit;
  }

  .no-results__text {
    font-size: 16px;
    color: $color-grey-2;
    display: inherit;
  }

  .no-results__link {
    margin-top: 10px;
    display: inherit;
    font-size: 16px;
    text-decoration: underline;
    color: color($colors, primary);
  }
}
