page-add-preparer {

  ion-content{
    .scroll-content{
      background: $color-grey-3;
    }
  }
  .item__preparer-name {
    color: $color-grey-1;
  }

  .button-inner {
    font-weight: $font-weight-normal;
  }

  .truncate-text {
    display: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .min-height {
    min-height: 55px;
  }

  .info-text {
    padding-top: 8px;
    color: $color-grey-1;
  }

  .srch-preparer-input {
    border-width: 1px;
    border-color: $color-grey-2;
    border-style: solid none solid none;
  }

  .item-ios.item-block .item-inner {
    border: 0;
  }
}
