<ion-header transforming-searchBar [searchBarElemRef]="searchBar">
  <ion-navbar>
    <ion-title margin-left>Select preparer</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar #searchBar
                   (ionInput)="searchList($event)"
                   [(ngModel)]="searchValue"
                   [showCancelButton]="true"
                   [cancelButtonText]="'Cancel'"
                   (ionFocus)="keepCancelOn($event)"
                   (ionCancel)="keepCancelOn($event, true)"
                   [ngClass]="{'keep-cancel-on': focusOut}"
                   placeholder="Search for preparer ID number"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list *ngIf="filteredPreparers.length > 0">
    <button ion-item no-lines padding-left (click)="presentConfirm({preparerId: '', preparerName: 'Preparer ID not given'})" class="min-height" *ngIf="!focusOut">
      <span ion-text color="dark">No preparer ID given</span>
    </button>
    <ion-list-header text-uppercase padding-left *ngIf="!focusOut">List of preparers</ion-list-header>
    <button ion-item detail-none padding-left
            *ngFor="let preparer of filteredPreparers"
            (click)="presentConfirm(preparer)" class="min-height">
      <ion-grid no-padding>
        <ion-row justify-content-between>
          <ion-col col-3 text-start><span text-left>{{ preparer.preparerId }}</span></ion-col>
          <ion-col col-9 text-end><span class="item__preparer-name truncate-text">{{ preparer.preparerName }}</span></ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
  <ion-grid *ngIf="focusOut && filteredPreparers.length == 0"
            [ngClass]="filteredPreparers.length == 0 ? 'noResults' : ''">
    <ion-row align-items-center>
      <ion-col col-8 offset-2>
        <span text-center class="no-results__title">No results found</span>
        <span text-center class="no-results__text">You can search for a preparer by its ID number</span>
        <span text-center class="no-results__link" (click)="presentConfirm({preparerId: '', preparerName: 'Preparer ID not found'})">Continue without preparer ID</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
