page-add-preparer {

  ion-content{
    .scroll-content{
      background: $color-grey-3;
    }
  }
  .item__preparer-name {
    color: $color-grey-1;
  }

  .truncate-text {
    display: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .min-height {
    min-height: 55px;
  }

}
