<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="formatDataForConfirm()">
        <span>Start Test</span>
      </button>
    </ion-buttons>
    <ion-title margin-left>Enter preparer ID</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col col-6>
        <div text-uppercase text-center class="vehicle-header-vrm-number">
          <ng-container
            *ngIf="checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL); else isVehicle"
            >{{ vehicleData.trailerId }}</ng-container
          >
          <ng-template #isVehicle>{{ vehicleData.vrm | formatVrm }}</ng-template>
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-border>
      <ion-item padding-left class="srch-preparer-input">
        <ion-input
          *ngIf="!appService.isAccessibilityTextZoomEnabled(); else accessibilityTextArea"
          placeholder="Enter preparer ID if known"
          [(ngModel)]="searchValue"
          (ngModelChange)="valueInputChange($event)"
          clearInput="true"
        ></ion-input>

        <ng-template #accessibilityTextArea>
          <ion-textarea
            placeholder="Enter preparer ID if known"
            [(ngModel)]="searchValue"
            (ngModelChange)="valueInputChange($event)"
            clearInput="true"
          ></ion-textarea>
        </ng-template>
      </ion-item>
    </ion-row>
    <ion-row padding-horizontal class="info-text">
      <span>{{ preparerInfoText }}</span>
    </ion-row>
  </ion-grid>
</ion-content>
