page-test-type-details-input {

  .header-ios {
    height: $header-height-default;
  }

  button.cancel {
    font-weight: $font-weight-normal;
    color: color($colors, light);
  }

  ion-content p {
    margin-top: 8px;
  }

  ion-item-divider {
    height: 40px;

    .label-ios {
      margin-top: 11px;
    }
  }

}
