page-test-type-details-input {

  .header-ios {
    height: $header-height-default;
  }

  button.cancel {
    font-weight: $font-weight-normal;
    color: color($colors, light);
  }

  ion-content p {
    margin-top: 8px;
  }

  ion-item-divider {
    height: 40px;

    .label-ios {
      margin-top: 11px;
    }
  }

  .k-limit-custom {
    background-color: color($colors, light);

    ion-col {
      padding: 0;
    }

    ion-col[col-2] {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $color-grey-2;
    }
  }
}
