ion-app.ios page-visit-timeline {

  ion-content {
    .list-ios {
      button {
        border-bottom: 0.55px solid $color-grey-2;

        .icon-ios {
          margin-left: 12px;
          margin-right: 0;
          z-index: 1;
          background-color: color($colors, light);
          font-size: 40px;
        }

        img {
          position: relative;
          top: 10px;
          margin-left: 15.4px;
          margin-right: 0;
          z-index: 1;
          background-color: color($colors, light);
          width: 25.5px;
          height: 27px;
        }

        .timeline-bar {
          width: 5px;
          height: 100%;
          position: absolute;
          border-left: 2px solid;
          left: 27px;
        }

        .timeline-item-content {
          margin: 15px 0;

          h2 {
            font-size: $font-size-medium;
            font-weight: 500;
          }

          p {
            font-size: $font-size-normal;
          }

          span {
            .pass {
              color: color($colors, secondary);
              font-weight: $font-weight-semi-bold;
            }

            .fail {
              color: color($colors, danger);
              font-weight: $font-weight-semi-bold;
            }

            .prs {
              color: color($colors, primary);
              font-weight: $font-weight-semi-bold;
            }
          }
        }

        .input-wrapper {
          .label-ios {
            margin: 0;
          }
        }
      }

      button.timeline-checkin.item-block {
        align-items: start;
      }

      button.timeline-checkin {
        .icon-ios {
          color: $color-grey-2;
        }

        .timeline-bar {
          border-left-color: color($colors, primary);
          top: 40%;
        }
      }

      button.timeline-test.item-block {
        align-items: start;
      }

      button.timeline-test {
        .icon-ios {
          color: color($colors, primary);
        }


        img {
          height: 20px;
          width: 20px;
          margin-left: 18px;
        }

        .timeline-bar {
          border-left-color: color($colors, primary);
        }
      }

      .item-block .item-inner {
        border-bottom: none;
      }
    }
  }

  .button-centered {
    width: 25%;
    margin: auto;
  }

  .divider-color {
    color: $color-grey-1;
  }
}
