<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons end>
      <button ion-button (click)="createNewTestReport()">
        Create test
      </button>
    </ion-buttons>
    <ion-title margin-left>
      Site visit
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list class="full-dividers-list">
    <ion-item-divider><span class="divider-color">{{ visit.startTime | date: 'd MMMM yyyy' }}</span></ion-item-divider>
    <button ion-item detail-none class="timeline-checkin">
      <div class="timeline-bar"></div>
      <img src="assets/timeline-pin-with-line.svg" item-start>
      <div class="timeline-item-content">
        <p>{{ visit.startTime | date: 'HH:mm' }}</p>
        <h2>{{ visit.testStationName }}</h2>
        <p class="timeline-message">Started site visit</p>
      </div>
    </button>
    <button ion-item *ngFor="let timelineItem of timeline" class="timeline-test">
      <div class="timeline-bar"></div>
      <img src="assets/timeline-oval.svg" item-start>
      <div class="timeline-item-content">
        <p>{{ timelineItem.startTime | date: 'shortTime' }} - {{ timelineItem.endTime | date: 'shortTime' }}</p>
        <div *ngFor="let vehicle of timelineItem.vehicles">
          <h2>Test ({{ vehicle.vrm | formatVrm }})</h2>
          <span *ngFor="let vehicle of timelineItem.vehicles">
          <span *ngIf="timelineItem.status != TEST_REPORT_STATUS.CANCELLED">
                    <p class="timeline-message" *ngFor="let vehicleTest of vehicle.testTypes">
                      <span>{{ vehicleTest.testTypeCategoryName }} •</span>
                      <span *ngIf="vehicleTest.testResult === TEST_TYPE_RESULT.PASS" class="pass" text-uppercase>{{ vehicleTest.testResult }}</span>
                      <span *ngIf="vehicleTest.testResult === TEST_TYPE_RESULT.FAIL" class="fail"
                            text-uppercase>{{ vehicleTest.testResult }}</span>
                      <span *ngIf="vehicleTest.testResult === TEST_TYPE_RESULT.ABANDONED" class="fail" text-uppercase>{{ vehicleTest.testResult }}</span>
                      <span *ngIf="vehicleTest.testResult === TEST_TYPE_RESULT.PRS" class="prs" text-uppercase>{{ vehicleTest.testResult }}</span>
                    </p>
          </span>
          <p><b *ngIf="timelineItem.status === TEST_REPORT_STATUS.CANCELLED" text-uppercase>cancelled</b></p>
        </span>
        </div>
      </div>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="gray-toolbar">
    <ion-buttons class="button-centered">
      <button ion-button 
              (click)="endVisit()" 
              color="primary"
              [ngClass]="{buttonOpacity: changeOpacity}">
        End visit
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
