ion-app.ios page-visit-timeline {

  ion-content {
    .list-ios {
      ion-item {
        border-bottom: 0.55px solid #c8c7cc;

        .icon-ios {
          margin-left: 12px;
          margin-right: 0;
          z-index: 1;
          background-color: #fff;
          font-size: 40px;
        }

        img {
          margin-left: 12px;
          margin-right: 0;
          z-index: 1;
          background-color: #fff;
          width: 33px;
          height: 33px;
        }

        .timeline-bar {
          width: 5px;
          height: 100%;
          position: absolute;
          border-left: 2px solid;
          left: 27px;
        }

        .timeline-item-content {
          margin: 15px 0;

          h2 {
            font-size: 2.0rem;
            font-weight: 500;
          }

          p {
            font-size: 1.5rem;
          }

          span {
            .pass {
              color: color($colors, secondary);
            }

            .fail {
              color: color($colors, danger);
            }
          }
        }

        .input-wrapper {
          .label-ios {
            margin: 0;
          }
        }
      }

      ion-item.timeline-checkin {
        .icon-ios {
          color: $light-gray;
        }

        .timeline-bar {
          border-left-color: $light-gray;
        }
      }

      ion-item.timeline-test {
        .icon-ios {
          color: color($colors, primary);
        }

        .timeline-bar {
          border-left-color: color($colors, primary);
        }
      }

      .item-block .item-inner {
        border-bottom: none;
      }
    }
  }
}
