<ion-header>
  <ion-navbar>
    <ion-title>
      {{ parentDefectCategory == null ? 'Record defect' : parentDefectCategory}}
    </ion-title>
  </ion-navbar>
  <ion-toolbar><ion-searchbar [(ngModel)]="term"></ion-searchbar></ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list text-wrap class="full-dividers-list">
      <ion-item detail-none [ngClass]="isDefectCategoryType(item) ? 'defect-category' : 'defect-details'" *ngFor="let item of defectCategories | filterByName: term" (click)="selectedItem(item, $event)">
        <span *ngIf="isDefectCategoryType(item)">
          <h3>{{ item.name }}</h3>     
        </span>
        <span *ngIf="!isDefectCategoryType(item)">
          <h3>
            {{ item.name }} • 
            <span>
              {{ item.level }}
            </span>
          </h3>
          <p>{{ item.description }}</p>
          <button ion-item detail-none (click)="openManual();$event.stopPropagation();">
             Open manual
            <ion-icon name="ios-book-outline" item-start></ion-icon>
          </button>
        </span>
        <ion-icon item-end name="arrow-forward"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
