
<div>
  <h5 text-center>{{ title }}</h5>
  <p text-center padding-horizontal>{{ msg }}</p>
</div>
<ion-grid no-padding>
  <ion-row class="pop-img">
    <img [src]="signatureService.signatureString"/>
  </ion-row>
  <ion-row class="row-border">
    <ion-col col-6 text-center class="col-border">
      <button ion-button clear (click)="closePop()">Cancel</button>
    </ion-col>
    <ion-col col-6 text-center>
      <button ion-button clear (click)="confirmPop()">Confirm</button>
    </ion-col>
  </ion-row>
</ion-grid>
