page-eu-vehicle-category {

  ion-header {

    ion-navbar.toolbar.toolbar-ios.statusbar-padding {
      height: 100px;
      padding-top: 24px !important;
    }

    ion-title[margin-left].title-ios {
      padding-top: 20px;

      .toolbar-title.toolbar-title-ios {
        font-size: $font-size-extra-large;
      }
    }
  }

  .subtitle {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    margin: 8px 0;
  }

  .selected {
    color: color($colors, primary);
  }

  .eu-cat {
    .label-ios {
      margin: 16px 28px 16px 0;
    }

    h3 {
      font-size: $font-size-medium;
    }

    p {
      font-size: $font-size-normal;
    }

    ion-icon[item-end] {
      display: flex;
      align-items: center;
      margin: 0;
      position: absolute;
      right: 16px;
      height: 100%;

      &::before {
        font-size: 34px;
      }
    }
  }
}
