ion-app.ios page-vehicle-details {

  ion-content {
    .vehicle-details-header {
      text-align: center;
      background: gold;
      width: 90%;
      font-size: 32px;
      border-radius: 10px;
      border: 3px black solid;
      margin: 3% auto 3% auto;
    }

    ion-list {
      margin-bottom: 10px;

      ion-list-header {
        ion-label {
          margin-left: 10px;
        }
      }

      button {
        color: color($colors, primary);
      }

      .item-ios.item-block {
        .item-inner {
          padding: 0 10px;
        }
      }
    }
  }
}
